<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form  method="POST" action="/new">
    <p>Enter A Word Here: <input type="string" name="word"></p>
    <input type="submit" value="Submit">
    </form>
  </body>
</html>